<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong>Ajouter Neuvau</strong> RepasPrincipale
          </div>
          <div class="card-body">
            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="type">compossition :</label>
                <div class="col-md-9">
                  <input type="text" id="compossition" name="compossition" [(ngModel)]="selectedRepasPrincipale.compossition" class="form-control"
                    placeholder="Entree le compossition">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="info">Info :</label>
                <div class="col-md-9">
                  <input class="form-control" id="info" type="text" name="info" [(ngModel)]="selectedRepasPrincipale.info"  placeholder="Entree le info" >
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="prix">Prix :</label>
                <div class="col-md-9">
                  <input type="number" id="prix" name="prix" [(ngModel)]="selectedRepasPrincipale.prix" class="form-control"
                    placeholder="Entree la prix">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="durreCuisson">Durre Cuisson :</label>
                <div class="col-md-9">
                  <input type="number" id="durreCuisson" name="durreCuisson" [(ngModel)]="selectedRepasPrincipale.durreCuisson"
                    class="form-control" placeholder="Entree la durre Cuisson">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="photo">Photo :</label>
                <div class="col-md-9">
                  <input type="file" accept="image/*" (change)="fileChange($event)" style="height: 100%" class="form-control" [(ngModel)]="selectedRepasPrincipale.photo" name="photo">

                </div>
              </div>
            </form>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-primary"
              (click)="operation == 'add' ? addRepasPrincipale() : updateRepasPrincipale()"><i class="fa fa-dot-circle-o"></i>
              {{operation == 'add' ? 'Ajouter' :
                              operation == 'edit' ? 'Modifier' : ''}}
            </button>
            <button type="reset" (click)="initRepasPrincipales();" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i>
              Annuler</button>
          </div>
        </div>
      </div>
      <!--/.row-->
    </div>
  
    <!--  -->
    <div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-danger" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Attention</h4>
            <button type="button" class="close" (click)="dangerModal.hide();initRepasPrincipales();" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Voulez-vous vraiment supprimer cet RepasPrincipale {{selectedRepasPrincipale.nom}} ?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="dangerModal.hide();initRepasPrincipales();">Fermer</button>
            <button type="button" class="btn btn-danger" (click)="deleteRepasPrincipale();dangerModal.hide();">Confirmer</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  
    <!--/.row-->
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> La Liste des RepasPrincipales
          </div>
          <div class="card-body">
            <table class="table table-bordered table-responsive table-striped table-sm">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Compossition</th>
                  <th>Info</th>
                  <th>Prix</th>
                  <th>Durre Cuisson</th>
                  <th>Photo</th>
                  <th>Modifier</th>
                  <th>Supprimer</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let repasPrincipale of repasPrincipales">
                  <td>{{repasPrincipale.id}}</td>
                  <td>{{repasPrincipale.compossition}}</td>
                  <td>{{repasPrincipale.info}}</td>
                  <td>{{repasPrincipale.prix}}</td>
                  <td>{{repasPrincipale.durreCuisson}}</td>
                  <td><img width="50" height="50" alt="Angular Logo" [src]="repasPrincipale.photo"></td>
                  <td><button class="btn btn-outline-warning"
                      (click)="selectedRepasPrincipale=repasPrincipale;operation='edit';">Modifier</button>
                  </td>
                  <td>
  
                    <button type="button" class="btn btn-outline-danger mr-1" data-toggle="modal"
                      (click)="selectedRepasPrincipale=repasPrincipale;dangerModal.show()">Supprimer </button>
  
                  </td>
                </tr>
  
              </tbody>
            </table>
            <!-- <nav>
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </nav> -->
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->