<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Ajouter Neuvau</strong> Table
        </div>
        <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="code">Code :</label>
              <div class="col-md-9">
                <input type="number" id="code" name="code" [(ngModel)]="selectedTable.code" class="form-control"
                  placeholder="Entree le code">
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"
            (click)="operation == 'add' ? addTable() : updateTable()"><i class="fa fa-dot-circle-o"></i>
            {{operation == 'add' ? 'Ajouter' :
                              operation == 'edit' ? 'Modifier' : ''}}
          </button>
          <button type="reset" (click)="initTables();" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i>
            Annuler</button>
        </div>
      </div>
    </div>
    <!--/.row-->
  </div>

  <!--  -->
  <div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-danger" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Attention</h4>
          <button type="button" class="close" (click)="dangerModal.hide();initTables();" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Voulez-vous vraiment supprimer cet Table {{selectedTable.code}} ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="dangerModal.hide();initTables();">Fermer</button>
          <button type="button" class="btn btn-danger" (click)="deleteTable();dangerModal.hide();">Confirmer</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> La Liste des Tables
        </div>
        <div class="card-body">
          <table class="table table-bordered table-responsive-sm ">
            <thead>
              <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Modifier</th>
                <th>Supprimer</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let table of tables">
                <td>{{table.id}}</td>
                <td>{{table.code}}</td>
                <td><button class="btn btn-outline-warning"
                    (click)="selectedTable=table;operation='edit';">Modifier</button>
                </td>
                <td>

                  <button type="button" class="btn btn-outline-danger mr-1" data-toggle="modal"
                    (click)="selectedTable=table;dangerModal.show()">Supprimer </button>

                </td>
              </tr>

            </tbody>
          </table>
          <!-- <nav>
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </nav> -->
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->